/* General */
* {
  margin: 0;
  padding: 0;
}

$dark-black: #262626;
$blue-black: #110e26;
$gray-yellow: #6a6b50;
$soft-gray: #d8d8d8;

html {
  width: 100vw;
  height: 100vh;
}
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: normal;
  background-color: #f2f2f2;
  overflow-x: hidden;
  padding: 10px;

  h1 {
    color: $blue-black;
  }

  h2 {
    color: $blue-black;
    @media (max-width: 800px) {
      font-size: 18px;
    }
  }

  h3 {
    color: $gray-yellow;
    margin-bottom: 3px;
  }

  p {
    color: $dark-black;
  }

  tr {
    background-color: white;
  }

  img {
    margin-right: 10px;
    object-fit: cover;
  }
}

@mixin flex($direction, $justify: none, $align: none, $align-items: none) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-content: $align;
  align-items: $align-items;
}

footer {
  display: flex;

  .footer-info {
    @include flex(column, flex-end, none, flex-end);
    width: 10%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .footer-subscription {
    width: 60%;
  }

  .footer-subscription h2 {
    text-align: center;

    .footer-table {
      @include flex(row, center, none, center);
    }
  }
}

.grid {
  display: grid;
  grid-gap: 20px;
}

@keyframes horizontal {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

span {
  color: red;
  align-self: flex-end;
  justify-self: flex-end;
  position: fixed;
  bottom: 0;
  margin: 0 30px 10px 0;
  cursor: pointer;
}

/* Home */
.nav-content {
  display: flex;
  width: 100%;
  z-index: 100;
  .tab-content {
    @include flex(row, space-evenly);
    margin: 0;
    width: 100%;
    li {
      list-style: none;
      background-color: #110e26;
      width: 100%;
      height: 100%;
      border-right: 1px solid white;
      border-left: 1px solid white;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
        background-color: rgb(42, 42, 42);
        color: white;
      }
      a {
        color: white;
        text-decoration: none;
        height: inherit;
        @include flex(row, center);
        div{
          align-self: center;
        }
      }
    }
  }
  .logo {
    @media (min-width: 375px) {
      width: 100px;
    }
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
  }
}

.hotNews-content {
  @include flex(row, space-evenly);
  overflow-x: scroll;
  height: 160px;
  width: 200%;
  overflow-x: hidden;
  background-color: white;
  animation: horizontal 25s linear infinite forwards;
  animation-play-state: running;
  box-shadow: 10px 5px 5px $soft-gray;
  @media (max-width: 800px) {
    position: sticky;
    top: 0;
  }
  &:hover {
    animation-play-state: paused;
  }

  .hotNews-card {
    display: flex;
    margin-right: 10px;

    .hotNews-resume {
      @include flex(column);
      @media (max-width: 800px) {
        width: 250px;
      }
    }
  }

  img {
    width: 150px;
    height: auto;
  }
}

.news-content {
  display: flex;
  @media (max-width: 800px) {
    flex-wrap: wrap;
  }
  margin: 30px 0;
  img {
    width: 100px;
    height: auto;
  }

  .news-card {
    background-color: white;
    box-shadow: 10px 5px 5px $soft-gray;
    padding: 10px;
    &.top-notice {
      @media (max-width: 800px) {
        margin: 30px 0;
      }
      margin-bottom: 30px;
    }
    span {
      position: unset;
    }
  }

  .new-principal {
    img {
      object-fit: cover;
      min-width: 100%;
      height: auto;
    }
    @media (min-width: 800px) {
      max-width: 55%;
    }
  }

  .new-group {
    @include flex(column, none, space-between);
    @media (min-width: 800px) {
      width: 50%;
    }
    .news-card {
      display: flex;
      @media (min-width: 800px) {
        margin-left: 30px;
      }
    }
  }
}

.checkbox {
  display: flex;
}

/* Sports */
.sport-page {
  grid-template-areas:
    "bar bar"
    "highlights podcast"
    "hotNews podcast";
  grid-template-columns: 55% 45%;
  grid-template-rows: 10% 3fr 3fr;
  height: 100vh;
  @media (max-width: 900px) {
    grid-template-areas:
      "bar"
      "highlights"
      "podcast"
      "hotNews";
    grid-template-columns: 100%;
    grid-template-rows: 5% 1fr 2fr 1fr;
    height: auto;
  }
  .live-bar {
    @include flex(row, center, center);
    grid-area: bar;
    background-color: white;
    box-shadow: 10px 5px 5px $soft-gray;
  }

  .highlights-content {
    grid-area: highlights;
    background-color: white;
    box-shadow: 10px 5px 5px $soft-gray;
    padding: 10px 20px;
  }

  .podcast-content {
    grid-area: podcast;
    background-color: white;
    box-shadow: 10px 5px 5px $soft-gray;
    @include flex(column, none, space-between);
    .podcast-card {
      padding: 10px 20px 10px 20px;
    }
  }
  .hotNews-group {
    @include flex(column, space-between);
    grid-area: hotNews;
    z-index: -1;
  }
  .hotNews-content {
    padding: 5px 0;
    @media (min-width: 1900px) {
      height: 180px;
    }
  }
  iframe {
    min-width: 100%;
    min-height: 200px;
    height: auto;
    @media (min-width: 1900px) {
      min-height: 350px;
    }
  }
}

/* Climate */
.climate-page {
  @include flex(column);
  .search-content {
    margin: 15px 15px 15px 0;
    input {
      width: 25%;
      height: 30px;
    }
  }

  .today-content {
    @include flex(column);
  }

  .today-resume {
    @include flex(row, start);
    .today-degrees {
      margin-right: 25px;
      font-size: 6rem;
    }
    p {
      align-self: center;
      font-size: 0.7rem;
      width: 20%;
    }
    .today-detail {
      @include flex(row, space-between);
      .today-card {
        .today-degrees {
          font-size: 4.5rem;
          color: #a5a49c;
        }
      }
    }
  }

  .week-content {
    @include flex(row, space-around);
    background-color: gainsboro;
  }

  .data-content {
    @include flex(row, center);
    .data-text {
      width: 50%;
      margin: 30px 0 15px 15px;
    }

    .data-map {
      width: 50%;
      margin: 30px 15px 15px 0;
      .iframe-map {
        width: 100%;
        height: 720px;
      }
    }
  }
}
