/* General */
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: normal;
  background-color: #f2f2f2;
  padding: 10px;
  overflow-x: hidden;
}

body h1 {
  color: #110e26;
}

body h2 {
  color: #110e26;
}

@media (max-width: 800px) {
  body h2 {
    font-size: 18px;
  }
}

body h3 {
  color: #6a6b50;
  margin-bottom: 3px;
}

body p {
  color: #262626;
}

body tr {
  background-color: white;
}

body img {
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 600px) {
  body .hidden-mobile {
    visibility: hidden;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 10%;
}

footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

footer .footer-subscription {
  width: 60%;
}

footer .footer-subscription h2 {
  text-align: center;
}

footer .footer-subscription h2 .footer-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes horizontal {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

span {
  color: red;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  position: fixed;
  bottom: 0;
  margin: 0 30px 10px 0;
  cursor: pointer;
}

/* Home */
.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 100;
}

.nav-content .tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  margin: 0;
  width: 100%;
}

.nav-content .tab-content li {
  list-style: none;
  background-color: #110e26;
  width: 100%;
  height: 100%;
  border-right: 1px solid white;
  border-left: 1px solid white;
  font-weight: 600;
  cursor: pointer;
}

.nav-content .tab-content li:hover {
  opacity: 0.9;
  background-color: #2a2a2a;
  color: white;
}

.nav-content .tab-content li a {
  color: white;
  text-decoration: none;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.nav-content .tab-content li a div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-content .logo {
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
}

@media (min-width: 375px) {
  .nav-content .logo {
    width: 100px;
  }
}

.hotNews-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  overflow-x: scroll;
  height: 160px;
  width: 200%;
  overflow-x: hidden;
  background-color: white;
  -webkit-animation: horizontal 25s linear infinite forwards;
          animation: horizontal 25s linear infinite forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-box-shadow: 10px 5px 5px #d8d8d8;
          box-shadow: 10px 5px 5px #d8d8d8;
}

@media (max-width: 800px) {
  .hotNews-content {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.hotNews-content:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.hotNews-content .hotNews-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.hotNews-content .hotNews-card .hotNews-resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

@media (max-width: 800px) {
  .hotNews-content .hotNews-card .hotNews-resume {
    width: 250px;
  }
}

.hotNews-content img {
  width: 150px;
  height: auto;
}

.news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

@media (max-width: 800px) {
  .news-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.news-content img {
  width: 100px;
  height: auto;
}

.news-content .news-card {
  background-color: white;
  -webkit-box-shadow: 10px 5px 5px #d8d8d8;
          box-shadow: 10px 5px 5px #d8d8d8;
  padding: 10px;
}

.news-content .news-card.top-notice {
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .news-content .news-card.top-notice {
    margin: 30px 0;
  }
}

.news-content .news-card span {
  position: unset;
}

.news-content .new-principal img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  height: auto;
}

@media (min-width: 800px) {
  .news-content .new-principal {
    max-width: 55%;
  }
}

.news-content .new-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

@media (min-width: 800px) {
  .news-content .new-group {
    width: 50%;
  }
}

.news-content .new-group .news-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 800px) {
  .news-content .new-group .news-card {
    margin-left: 30px;
  }
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Sports */
.sport-page {
      grid-template-areas: "bar bar" "highlights podcast" "hotNews podcast";
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: 10% 3fr 3fr;
      grid-template-rows: 10% 3fr 3fr;
  height: 100vh;
}

@media (max-width: 900px) {
  .sport-page {
        grid-template-areas: "bar" "highlights" "podcast" "hotNews";
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 5% 1fr 2fr 1fr;
        grid-template-rows: 5% 1fr 2fr 1fr;
    height: auto;
  }
}

.sport-page .live-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bar;
  background-color: white;
  -webkit-box-shadow: 10px 5px 5px #d8d8d8;
          box-shadow: 10px 5px 5px #d8d8d8;
}

.sport-page .highlights-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: highlights;
  background-color: white;
  -webkit-box-shadow: 10px 5px 5px #d8d8d8;
          box-shadow: 10px 5px 5px #d8d8d8;
  padding: 10px 20px;
}

.sport-page .podcast-content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: podcast;
  background-color: white;
  -webkit-box-shadow: 10px 5px 5px #d8d8d8;
          box-shadow: 10px 5px 5px #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.sport-page .podcast-content .podcast-card {
  padding: 10px 20px 10px 20px;
}

.sport-page .hotNews-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: hotNews;
  z-index: -1;
}

.sport-page .hotNews-content {
  padding: 5px 0;
}

@media (min-width: 1900px) {
  .sport-page .hotNews-content {
    height: 180px;
  }
}

.sport-page iframe {
  min-width: 100%;
  min-height: 200px;
  height: auto;
}

@media (min-width: 1900px) {
  .sport-page iframe {
    min-height: 350px;
  }
}

/* Climate */
.climate-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.climate-page .search-content {
  margin: 15px 15px 15px 0;
}

.climate-page .search-content input {
  width: 25%;
  height: 30px;
}

.climate-page .today-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.climate-page .today-resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.climate-page .today-resume .today-degrees {
  margin-right: 25px;
  font-size: 6rem;
}

@media (max-width: 800px) {
  .climate-page .today-resume .today-degrees {
    font-size: 5rem;
  }
}

.climate-page .today-resume p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 0.7rem;
  min-width: 100px;
  max-width: 20%;
  color: #a5a49c;
}

.climate-page .today-resume .today-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.climate-page .today-resume .today-detail .today-card .today-degrees {
  font-size: 4.5rem;
  color: #a5a49c;
}

@media (max-width: 800px) {
  .climate-page .today-resume .today-detail .today-card .today-degrees {
    font-size: 2rem;
  }
}

.climate-page .week-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  background-color: gainsboro;
}

.climate-page .week-content .week-card {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.climate-page .week-content .week-card p {
  color: #777777;
}

.climate-page .data-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

@media (max-width: 800px) {
  .climate-page .data-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.climate-page .data-content .data-text {
  width: 50%;
  margin: 30px 0 15px 15px;
}

@media (max-width: 800px) {
  .climate-page .data-content .data-text {
    width: 100%;
  }
}

.climate-page .data-content .data-map {
  width: 50%;
  margin: 30px 15px 15px 0;
}

.climate-page .data-content .data-map .iframe-map {
  width: 100%;
  height: 720px;
}

@media (max-width: 800px) {
  .climate-page .data-content .data-map {
    width: 100%;
  }
}

/* abm-news*/
.abm-news-content {
  margin-bottom: 300px;
}

.abm-news-content textarea {
  height: 300px;
}

.abm-news-content .form-check {
  margin: 15px 0 0 30px;
}
/*# sourceMappingURL=style.css.map */